{% extends 'base.html.twig' %}
{% block content %}
    <div class="container separacion-de-secciones">
        <div class="row">
            <div class="col">
                <h1>Gestión de Productos</h1>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}