{% extends 'base.html.twig' %}
{% block content %}
    <div class="container separacion-de-secciones">
        <div class="row">
            <div class="col" style="text-align: center">
                <h1>Bienvenido al sitio de Gestión de la Empresa<br>
                Campus Jalpa</h1>
            </div>
        </div>
    </div>
{% endblock %}